<!DOCTYPE html>
{% extends 'base.html' %}
{% load user_filters %}

<html lang="ru"> 
  {% block title %}Новый пост{% endblock %}
  <body>	   
    <main>
      {% block content %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit is True %}
                Редактировать запись
                {% else %}
                Добавить запись         
                {% endif %}    
              </div>
              <div class="card-body">        
                {% if is_edit is True %}
                <form method="post" action="{% url 'posts:post_edit' form.instance.id %}">
                {% else %}
                <form method="post" action="{% url 'posts:post_create' %}">
                {% endif %}
                  {% csrf_token %}
                  </div>    
                  <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      Текст поста             
                      <span class="required text-danger" >
                        {% if is_edit %}
                          {{ form.instance.}}
                        {% endif %}
                      </span>                  
                    </label>
                    <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text">
                      {% if is_edit %}
                        {{ form.instance.text }}
                      {% endif %}
                    </textarea>                
                    <small id="id_text-help" class="form-text text-muted">
                     {% if is_edit is True %}
                     Текст редактируемого поста
                     {% else %}
                     Текст нового поста
                     {% endif %}
                    </small>                  
                  </div>    
                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Группа                
                    </label>
                    <select name="group" class="form-control" id="id_group">
                      {% for group in group_list %}
                      {% if forloop.first %}
                      <option value="" {% if group == form.instance.group %}selected{% endif %}>---------</option>
                      {% endif %}
                      <option value="{{ group.id }}" {% if group == form.instance.group %}selected{% endif %}>{{ group.title }}</option>
                      {% endfor %}
                    </select>
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit is True %}
                      Редактировать
                      {% else %}
                      Добавить
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% include 'includes/footer.html' %}
      {% endblock %}
    </main>
  </body>
  
</html>
